body{
    background-color: #FFE9A0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color: #367E18;
    width: 100%;
    height: 10vh;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 10px;
}

aside{
    background-color: #F57328;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
    font-weight: 600;
}

.kontener{
    background-color: #CC3636;
    width: 69%;
    text-align: center;
    align-items: center;
}
article{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: x-large;
    font-weight: 600;
}

img{
    width: 15rem;
    height: 10rem;
    padding: 10px;
    margin-top:50px;
}